{% extends 'Base.html' %}
<div class="header">
    
  <a href="/Base" class="Event-Manager" >Event Manager</a>
  

  <a href="/ParticipantRegistration" class="ParticipantRegistration">Participant Registration</a>

  <a href="/Eventregistration" class="EventRegistration">Event Registration</a>

  <a href="/Eventdashboard" class="EventDashboard">Event Dashboard</a>
</div>

<!DOCTYPE html>
  {% block content %}
  <br><br><br><br><br><br>
    <div class="error">
      
<!--
Waah bete ! <p></p>
Tum to bade hi heavy driver ho 🤣 <br>
-->
Please Enter Valid Inputs!
        
    </div>
<p></p>
  {% endblock %}
  
