{% extends 'Base.html' %}

  {% block content %}
  <br>
  <div class="boxParticipant">
    <form  action="." method="POST">
      {% csrf_token %}

      <label for="Eventname">Event Name</label>
      <input type="text" name="EventName">
<p></p>
      <label for="Desc">Description</label>
      <input type="text" name="Description">
<p></p>
      <label for="Location">Location</label>
      <input type="text" name="Location">
<p></p>
      <label for="from">from</label>
      <input type="date" name="RegFrom">
      <label for="to">To</label>
      <input type="date" name="RegTo">
<p></p>
      <label for="Deadline">Deadline</label>
      <input type="date" name="Deadline">
<p></p>
      <label for="Email">Host E-mail</label>
      <input type="email" name="Email">
<p></p>
      <label for="password">password</label>
      <input type="password" name="Password">
<p></p>
      <input type="Submit" class="button">
<p></p>

    </form>
</div>>
  {% endblock %}
