{% extends 'Base.html' %}



  {% block content %}
<br>
    {% for Event in EventsNameasdf %}


  <div class="box">
    
    <b>Event Name </b>: {{ Event.EventName }} &nbsp; <p></p>
    <b>Description</b> : {{ Event.Description }} &nbsp;<p></p>
    <b>Location</b> : {{ Event.Location }} &nbsp;<p></p>
    <b>Registrationn From</b>: {{ Event.RegFrom }} &nbsp;<p></p>
    <b>Registration To</b>: {{ Event.RegTo }} &nbsp;<p></p>
    <b>Deadline</b>: {{ Event.Deadline }} &nbsp; <p></p>
    
    <br>
  </div>
</div>

      
    {% endfor %} 
  
  {% endblock %}
  