{% extends 'Base.html' %}

{% block content %}
<br>
<div class="boxParticipant">
    <form action="." method="POST" name="Sometihng">
      {% csrf_token %}
      <label for="Name">Name: </label>
      <input type="text" name="ParticipantName" placeholder="">
        <p></p>
      <label for="ContNumber">Contact No.: </label>
      <input type="text" name="ContactNumber" placeholder="">
        <p></p>
      <label for="EmailID">Email ID: </label>
      <input type="text" name="Email" placeholder="">
        <p></p>
        <label>Event Name</label>
      {% for eventabc in EventName %}
      
      <input type="radio" name="Event" id={{ eventabc.EventName }} value={{ eventabc.id }} />
      <label> {{ eventabc.EventName }} </label> 
      &nbsp;

      {% endfor %}
        <p></p>
      <label for="RegistrationType">Registration-Type</label>&nbsp;
      

      <input type="radio" name="RegistrationType" onclick="NumPeople(0);" value="Individual" checked>Individual
      <input type="radio" name="RegistrationType" onclick="NumPeople(1);" value="Group"> Group

      <p></p>
      <div class="hid">
      <label for="NumOfPeople" id="GroupPeopleLabel">Number Of People</label>
      <input type="number" name="NumOfPeople" id="GroupPeople" min="1">
      </div>
<br>
<input type="submit" class="button">
    </form>
  </div>
    <script>
      document.getElementById('GroupPeople').style.display = "none";
        document.getElementById('GroupPeopleLabel').style.display = "none";
        document.getElementById('GroupPeople').defaultValue = 1;
      function NumPeople(x)
      {
        if(x==0)
        {
        
        document.getElementById('GroupPeople').style.display = "none";
        document.getElementById('GroupPeopleLabel').style.display = "none";
        document.getElementById('GroupPeople').defaultValue = 1;
        }
        else
        {
        document.getElementById('GroupPeople').style.display = "inline";
        document.getElementById('GroupPeopleLabel').style.display = "inline";
        document.getElementById('GroupPeople').defaultValue = 2;
        }
        return;
      }
    </script>
    

  {% endblock %}
  
