body {
  font-family: 'Poppins',sans-serif;
  position:static;
  background-color: #0d0f1d;
  margin: 0;
  padding: 0;
  color: white;
  
}

.Logo {
  position: absolute;
  height: 100px;
  width: 100px;
}

.header {
  position: fixed;
  margin-top: 0;
  opacity: 0.9;
  height: 100px;
  width: 100%;
  background-color: #0d0f1d;
}

.Dashheader {
  position: fixed;
  margin-top: 0;
  opacity: 0.9;
  height: 100px;
  width: 100%;
  background: linear-gradient(180deg,purple,black);
}

.Eventheader {
  position: fixed;
  margin-top: 0;
  opacity: 0.9;
  height: 100px;
  width: 100%;
  background: linear-gradient(180deg,purple,black);
}

.Partheader {
  position: fixed;
  margin-top: 0;
  opacity: 0.9;
  height: 100px;
  width: 100%;
  background: linear-gradient(180deg,purple,black);
}

.Hey-There {
  position: fixed;
  color: yellow;
  margin-top: 350px;
  margin-left: 90px;
  opacity: 1;
  font-size: 100px;
  font-family: "Poppins", sans-serif;
  display: inline;
  text-decoration: none;
}

.Event-Manager {
  position: fixed;
  color: whitesmoke;
  margin-left: 100px;
  font-size: 30px;  
  margin-top: 20px;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
}

.ParticipantRegistration {
  position: fixed;
  color: whitesmoke;
  font-size: 30px;
  margin-top: 20px;
  margin-left: 870px;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
}

.EventRegistration {
  position: fixed;
  color: whitesmoke;
  font-size: 30px;
  margin-top: 20px;
  margin-left: 1290px;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
}

.EventDashboard {
  position: fixed;
  color: whitesmoke;
  font-size: 30px;
  margin-top: 20px;
  margin-left: 1630px;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
}

a:link :visited {
  color: skyblue;
  text-decoration: red;
}

a:hover {
  color: yellow;
  text-decoration: none;
}

a:active {
  color: yellow;
}

redCircle {
  position: absolute;
  height: 200px;
  width: 200px;
  margin-left: 750px;
  margin-top: 450px;

  background: white;
  border-radius: 50%;
}
/*
.footer {
    position: relative;
    height: 500px;
    width: 100%;
    background:#B5B9FF;
}*/

redCircle :hover {
  object-position: center;
  position: absolute;
  height: 200px;
  width: 200px;
  margin-left: 750px;
  margin-top: 450px;

  background: black;
  border-radius: 50%;
}

.purpleCircle
{
  position: absolute;
  margin-top: 350px;
  margin-left: 690px;
  width: 230px;
  height: 230px;
  background: #0D0F1D;
  border: 5px solid #EB00FF;
  border-radius: 50%;
}

.totalEvents {
  position:absolute;
  margin-left: 100px;
  margin-top: 610px;
  margin-left: 745px;
  font-size: 38px;
  margin-top:100;
  color: #EB00FF;
  text-align: center;
}

.greenCircle
{
  position: absolute;
  margin-top: 350px;
  margin-left: 1100px;
  width: 230px;
  height: 230px;
  background: #0D0F1D;
  border: 5px solid #05FF00;
  border-radius: 50%;
}

.upcomeingEvents {
  position:absolute;
  margin-left: 100px;
  margin-top: 610px;
  margin-left: 1116px;
  font-size: 38px;
  margin-top:100;
  color: #05FF00;
  text-align: center;
}

.redCircle
{
  position: absolute;
  margin-top: 350px;
  margin-left: 1510px;
  width: 230px;
  height: 230px;
  background: #0D0F1D;
  border: 5px solid #FF0000;
  border-radius: 50%;
}

.currentEvents {
  position:absolute;
  margin-left: 100px;
  margin-top: 610px;
  margin-left: 1559px;
  font-size: 38px;
  margin-top:100;
  color: #FF0000;
  text-align: center;
}

.numbers {
  position: absolute;
  padding-right: 100px;
  margin-left: 30px;
  color: white;
}


.box {
  font-family: 'Poppins',sans-serif;
  position: relative;
  padding-top: 20px;
  margin-left: 650px;
  text-align: center;
  margin-top: 100px;
  height: 250px;
  width: 30%;
  background-color: purple;
  opacity: 0.9;
  
  border-radius: 10px;
  z-index: -1;
  
  
}


.fix {
  position: fixed;
}

.integrity {
  font-size: 100px;
  font-family: "Poppins", sans-serif;
  margin-left: 100px;
  margin-top: 500px;
  color: #FF0000;
}

.ParticipantRegistrationForm {
  margin-top: 200px;
}



hr {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #05FF00;
}


.boxParticipant {
  margin-top: 100px;
  text-align: center;

}

.boxParticipant input {
  size: 50px;
  padding-left: 20px;
  margin-bottom: 10px;
  background-color: transparent;
  outline: 0;
  border-top: hidden;
  border-left: hidden;
  border-right: hidden;
  border-color: yellow;
}

label {
  font-size: 20px;
  font-weight: 100;
}

.button {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.16, rgb(207, 207, 207)), color-stop(0.79, rgb(252, 252, 252)));
  background-image: -moz-linear-gradient(center bottom, rgb(207, 207, 207) 16%, rgb(252, 252, 252) 79%);
  background-image: linear-gradient(to top, rgb(207, 207, 207) 16%, rgb(252, 252, 252) 79%); 
  border: 1px solid #000;
  
  color: black;
  text-decoration: none;
}

.boxParticipant input:focus{
  border-color: yellowgreen;
  font-size: 20px;
  color:yellowgreen;
  opacity: 1;
}

input{
  background-color: yellow;
  color: yellow;
}

.error {
  text-align: center;
  font-size: 60px;
}


::-webkit-scrollbar {
  width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 

::-webkit-scrollbar-thumb {

  background: purple; 
  border-radius: 10px;
}


::-webkit-scrollbar-thumb:hover {
  background: darkmagenta
   
}