{% load static %}
<!DOCTYPE html>
<div class="header">
    
  <a href="/Base" class="Event-Manager" >Event Manager</a>
  

  <a href="/ParticipantRegistration" class="ParticipantRegistration">Participant Registration</a>

  <a href="/Eventregistration" class="EventRegistration">Event Registration</a>

  <a href="/Eventdashboard" class="EventDashboard">Event Dashboard</a>
</div>

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title></title>

    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"/>
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link href="https://fonts.googleapis.com/css2?family=Satisfy&display=swap"rel="stylesheet"/>
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap" rel="stylesheet"/>
  </head>
  <body>

    {% block content %}
    
    <div class="Hey-There">
      <div>Hey there, <br> Event?</div>
    </div>
    <!--
    <div class="purpleCircle"></div>
    <div class="totalEvents">Total <br> Events</div>
    <div class="upcomeingEvents">Upcomeing <br> Events</div>
    <div class="currentEvents">Current <br> Events</div>
    
    <div class="greenCircle"></div>
    <div class="redCircle"></div>-->
    {% endblock %}
  </body>
</html>
