<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"/>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <!--
<link href="https://fonts.googleapis.com/css2?family=Satisfy&display=swap" rel="stylesheet">
  -->

</head>
<body class="main">

  {% block content %}
  <div>

    <div class="EventManager">
      Event-Manager
    </div>
    <div class="homepage">
      Homepage
    </div>
    <div class="rect">
      <div class="text1">
        <!--Participant Registration-->
      </div>


</div>
{% endblock %}
<a href="/ParticipantRegistration">ParticipantRegistration
  <!--<img src="{% static 'Pics/pic1.jpg' %}" class="group4">-->
</a>
</div>&nbsp;

<a href="/Eventregistration">Eventregistration
<!--<img src="{% static 'Pics/pic2.jpg' %}" class="group3">-->
</a> &nbsp;
<a href="/Eventdashboard">Eventdashboard
<!--<img src="{% static 'Pics/pic3.jpg' %}" class="group2">-->
</a> &nbsp;
</body>
</html>
